<div class="col-lg-12" ng-controller="DeploydCtrl" >

    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">Sports Store Application</a>
    </div>
    <div class="panel panel-default row" style='padding-top:7px'>
        <div class="col-xs-3">
            <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
            <a ng-repeat="item in data.products| orderBy:'category' | unique:'category'"
               ng-click="selectCategory(item)" class=" btn btn-block btn-default btn-lg" ng-class="getCategoryClass(item)">
                {{item}}
            </a>
        </div>
        <div class="col-xs-8">
            <div class="well" ng-repeat="item in data.products| filter:categoryFilterFn">
                <h3>
                    <strong>{{item.name}}</strong>
                    <span class="pull-right label label-primary">
                        {{item.price| currency}}
                    </span>
                </h3>
                <span class="lead">{{item.description}}</span>
            </div>
        </div>
    </div>
</div>