<div class="col-lg-12">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#todo" data-toggle="tab">Todo List</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#messages" data-toggle="tab">Messages</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="todo"> 
            <h2>Angular Todo List</h2>
            <!-- Todos input -->
            <form role="form" ng-submit="addTodo()">
                <div class="input-group">
                    <input yeoman-directive type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
                    <span  class="input-group-btn">
                        <input  type="submit" class="btn btn-primary" value="Add">
                    </span>
                </div>
            </form> 
            <div ui-sortable ng-model="todos">
                <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
                    <input type="text" ng-model="todo" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
                    </span>
                </p>
            </div>
        </div>
        <div class="tab-pane" id="profile">...</div>
        <div class="tab-pane" id="messages">...</div>
        <div class="tab-pane" id="settings">...</div>
    </div>
</div>
<script type="text/javascript">
            $(document).ready(function(){
            $('#myTab a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
            });
            $('ul.nav-pills li a').click(function(e) {
                $('ul.nav-pills li.active').removeClass('active');
                $(this).parent('li').addClass('active');
            });
});
        </script>